/* ini css eksternalnya */

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.main-header > h1 {
  margin: 0px;
  background-color: cornflowerblue;
  padding: 24px;
  text-align: center;
}
main {
  background-color: blanchedalmond;
  padding: 16px;
  text-align: center;
}

.nav-fitur {
  display: flex;
  flex-direction: column;
}

.nav-fitur > a {
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 50%;
  align-self: center;
}

.nav-fitur-non-active {
  background-color: darkcyan;
}
.nav-fitur-active {
  background-color: cornflowerblue;
}

.section-header {
  background-color: aquamarine;
  padding: 16px;
}

.section-image {
  background-image: url(../assets/download.png);
  background-size: cover;
  background-position: center;
  background-color: black;
  width: 160px;
  height: 100px;
  justify-self: center;
  margin: 10px auto;
  border: 1px solid #ccc;
}

.calculate-content {
  border: 1px solid;
  height: 300px;
}

section {
  margin-top: 16px;
  margin-bottom: 16px;
}

footer {
  text-align: center;
}

.persegi-box {
  background-color: lightblue;
  padding: 20px;
  border: 2px solid blue;
  margin: 20px;
  border-radius: 10px;
}

.persegi-panjang-box {
  background-color: rgb(128, 137, 240); /* Warna berbeda dari persegi */
  padding: 20px;
  border: 2px solid red;
  margin: 20px;
  border-radius: 10px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  max-width: 300px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: white;
}

.hasil {
  font-size: 18px;
  font-weight: bold;
  color: darkred;
  margin-top: 10px;
}
